package ${classPath}.dao;

import ${basePath}.base.BaseDao;
import ${classPath}.model. ${tableName};
/**
 * 
 * @author jiangjiaxin
 * @date 
 */
public interface  ${tableName}Dao  extends BaseDao<String,  ${tableName}>{
	
}
