<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${classPath}.dao.${tableName}Dao">

	<resultMap id="BaseResultMap" type="${classPath}.model.${tableName}">
	<#list columnInfoList as columnInfo>
		<#if columnInfo.columnName == "id">
			<id column="${columnInfo.columnName}" property="${columnInfo.attributeName}" jdbcType="${columnInfo.sqlColumnType}" />	
		<#else>
			<result column="${columnInfo.columnName}" property="${columnInfo.attributeName}" jdbcType="${columnInfo.sqlColumnType}" />
		</#if>
	</#list>
	</resultMap>
	
	<sql id="Base_Column_List">
	<#list columnInfoList as columnInfo>
		<#if columnInfo_has_next==true>
			${columnInfo.columnName},
		<#else>
			${columnInfo.columnName}
		</#if>
	</#list>
	</sql>
	
	<sql id = "${tableName}List" >
		SELECT
			<include refid="Base_Column_List" />
		FROM  ${completeTableName}
		<where>
			<#list columnInfoList as columnInfo>
				<if test="${columnInfo.attributeName} != null and ${columnInfo.attributeName} != ''"> AND ${columnInfo.columnName} = ${r'#{'}${columnInfo.attributeName}${r'}'}</if>
			</#list>
		</where>
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="String" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />	
		FROM ${completeTableName}
		WHERE 
			id = ${r'#{id,jdbcType=VARCHAR}'}
	</select>
	
	<select id="selectByModel" parameterType="${classPath}.model.${tableName}" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />	
		FROM  ${completeTableName}
		<where>
			<#list columnInfoList as columnInfo>
				<if test="${columnInfo.attributeName} != null and ${columnInfo.attributeName} != ''"> AND ${columnInfo.columnName} = ${r'#{'}${columnInfo.attributeName}${r'}'}</if>
			</#list>
		</where>	
	</select>
	
	<select id="list" parameterType="${classPath}.model.${tableName}" resultType="${classPath}.model.${tableName}">
		<include refid="${tableName}List"/>
	</select>
	
	<select id="page" parameterType="${classPath}.model.${tableName}" resultType="${classPath}.model.${tableName}">
		<include refid="${tableName}List"/>
	</select>
	
	<select id="count" parameterType="${classPath}.model.${tableName}" resultType="int">
		SELECT count(*) FROM ${completeTableName}
		<where>
			<#list columnInfoList as columnInfo>
				<if test="${columnInfo.attributeName} != null and ${columnInfo.attributeName} != ''"> AND ${columnInfo.columnName} = ${r'#{'}${columnInfo.attributeName}${r'}'}</if>
			</#list>
		</where>
	</select>
	
	<select id="max" parameterType="String" resultType="long">
		SELECT max(id) FROM ${completeTableName}
	</select>
	
	<insert id="insert" parameterType="${classPath}.model.${tableName}" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO ${completeTableName} (
			<include refid="Base_Column_List" />
		) VALUES (	
			<#list columnInfoList as columnInfo>
				${r'#{'}${columnInfo.attributeName},jdbcType=${columnInfo.sqlColumnType},jdbcType=${columnInfo.sqlColumnType}${r'}'}
			</#list>
		)
	</insert>
	
	<delete id="delete" parameterType="${classPath}.model.${tableName}">
		DELETE FROM ${completeTableName}
		WHERE
		id = ${r'#{'}id${r'}'}
	</delete>
	
	<update id="update" parameterType="${classPath}.model.${tableName}">
		UPDATE ${completeTableName}
		<trim prefix="SET" suffixOverrides=",">
			<#list columnInfoList as columnInfo>
				<if test="${columnInfo.attributeName} != null">${columnInfo.columnName} = ${r'#{'}${columnInfo.attributeName},jdbcType=${columnInfo.sqlColumnType},jdbcType=${columnInfo.sqlColumnType}${r'}'},</if>
			</#list>
		</trim>
		WHERE
			id = ${r'#{'}id${r'}'}
	</update>
	
	<update id="updateCondition" parameterType="Map">
		UPDATE ${completeTableName}
		<trim prefix="SET" suffixOverrides=",">
			<#list columnInfoList as columnInfo>
				<if test="id != null">${columnInfo.columnName} = ${r'#{'}${columnInfo.attributeName},jdbcType=${columnInfo.sqlColumnType}${r'}'},</if>
			</#list>
			
		</trim>
		<where>
			<#list columnInfoList as columnInfo>
				<if test="${columnInfo.attributeName} != null and ${columnInfo.attributeName} != ''">AND ${columnInfo.columnName} = ${r'#{'}${columnInfo.attributeName}${r'}'}</if>
			</#list>
		</where>
	</update>
</mapper>