package ${classpath}.service.impl;

import java.util.List;

import ${classpath}.dao.${tableName}Dao;
import ${classpath}.model.${tableName}Model;
import ${classpath}.service.${tableName}Service;

/**
 * 
 * @author jiangjiaxin
 * @date 
 */
public class  ${tableName}ServiceImpl implements ${tableName}Service{
	
	private ${tableName}Dao ${tableName?uncap_first}Dao;

	public  ${tableName}Model selectByPrimaryKey(String id) {
		return ${tableName?uncap_first}Dao.selectByPrimaryKey(id);
	}

	public ${tableName}Model selectByModel(${tableName}Model model) {
		return ${tableName?uncap_first}Dao.selectByModel(model);
	}

	public List<${tableName}Model> list(${tableName}Model model) {
		return ${tableName?uncap_first}Dao.list(model);
	}

	public List<${tableName}Model> page(${tableName}Model model) {
		return ${tableName?uncap_first}Dao.page(model);
	}

	public int count(${tableName}Model model) {
		return ${tableName?uncap_first}Dao.count(model);
	}

	public long max(String id) {
		return ${tableName?uncap_first}Dao.max(id);
	}

	public void insert(${tableName}Model model) {
		${tableName?uncap_first}Dao.insert(model);
	}

	public void delete(String id) {
		${tableName?uncap_first}Dao.delete(id);
	}

	public void update(${tableName}Model model) {
		${tableName?uncap_first}Dao.update(model);
	}

	public void updateCondition(${tableName}Model model, ${tableName}Model where) {
		${tableName?uncap_first}Dao.updateCondition(model, where);
	}
}
