package ${classPath}.service.impl;

import java.util.List;

import ${classPath}.dao.${tableName}Dao;
import ${classPath}.model.${tableName};
import ${classPath}.service.${tableName}Service;

/**
 * 
 * @author jiangjiaxin
 * @date 
 */
public class  ${tableName}ServiceImpl implements ${tableName}Service{
	
	private ${tableName}Dao ${tableName?uncap_first}Dao;

	public  ${tableName} selectByPrimaryKey(String id) {
		return ${tableName?uncap_first}Dao.selectByPrimaryKey(id);
	}

	public ${tableName} selectByModel(${tableName} model) {
		return ${tableName?uncap_first}Dao.selectByModel(model);
	}

	public List<${tableName}> list(${tableName} model) {
		return ${tableName?uncap_first}Dao.list(model);
	}

	public List<${tableName}> page(${tableName} model) {
		return ${tableName?uncap_first}Dao.page(model);
	}

	public int count(${tableName} model) {
		return ${tableName?uncap_first}Dao.count(model);
	}

	public long max(String id) {
		return ${tableName?uncap_first}Dao.max(id);
	}

	public void insert(${tableName} model) {
		${tableName?uncap_first}Dao.insert(model);
	}

	public void delete(String id) {
		${tableName?uncap_first}Dao.delete(id);
	}

	public void update(${tableName} model) {
		${tableName?uncap_first}Dao.update(model);
	}

	public void updateCondition(${tableName} model, ${tableName} where) {
		${tableName?uncap_first}Dao.updateCondition(model, where);
	}
}
