package ${classPath}.service;

import ${classPath}.model.${tableName};
import ${basePath}.base.BaseService;

/**
 * 
 * @author jiangjiaxin
 * @date 
 */
public interface  ${tableName}Service extends BaseService<String, ${tableName}>{
	
}
